@inject IStringLocalizer<Resource> localizer
@inject AuthenticationStateProvider AuthenticationStateProvider

@page "/"
@page "/home"

<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    The store has some error(s) or warning(s). Please find more information on the <a href="/Admin/Common/Warnings">Warnings</a> page
</div>

<div class="content-header">
    <h1>
        <h1>@localizer["helloworld"]</h1>
        Dashboard
    </h1>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <Card CollapseIcon="far fa-star" HeaderText="Start accepting orders" IsShadow="true" IsCollapsible="true">
                                <BodyTemplate>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h4>
                                                    Welcome to your store!
                                                </h4>
                                            </div>
                                            <p class="intro text-center">
                                                Can’t wait to start accepting orders? The steps below describe the most important settings for the online shop. With our tips on each page you will see how clear this process is. You will be ready to start selling immediately after you go through these steps. So good luck!
                                            </p>
                                        </div>
                                        <Row ItemsPerRow="ItemsPerRow.Three">
                                            <Card>
                                                <BodyTemplate>
                                                    <a class="configuration-step-link theme-step" href="/products">
                                                        <div class="row">
                                                            <div class="col-12 col-xl-3">
                                                                <div class="configuration-step-icon">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-9">
                                                                <h5>
                                                                    1. &nbsp; Personalize your store
                                                                    <small class="text-muted">
                                                                        Choose a beautiful theme for your store and add your logo
                                                                    </small>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                            <Card>
                                                <BodyTemplate>
                                                    <a class="configuration-step-link store-info-step" href="#">
                                                        <div class="row">
                                                            <div class="col-12 col-xl-3">
                                                                <div class="configuration-step-icon">
                                                                    <i class="fas fa-globe"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-9">
                                                                <h5>
                                                                    2. &nbsp; Add your store info
                                                                    <small class="text-muted">
                                                                        Enter your store details and protect your customers using SSL
                                                                    </small>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                            <Card>
                                                <BodyTemplate>
                                                    <a class="configuration-step-link shipping-step" href="#">
                                                        <div class="row">
                                                            <div class="col-12 col-xl-3">
                                                                <div class="configuration-step-icon">
                                                                    <i class="fas fa-truck"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-9">
                                                                <h5>
                                                                    3. &nbsp; Set up shipping
                                                                    <small class="text-muted">
                                                                        Set up shipping methods to deliver orders to customers
                                                                    </small>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                            <Card>
                                                <BodyTemplate>
                                                    <a class="configuration-step-link payments-step" href="#">
                                                        <div class="row">
                                                            <div class="col-12 col-xl-3">
                                                                <div class="configuration-step-icon">
                                                                    <i class="far fa-credit-card"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-9">
                                                                <h5>
                                                                    4. &nbsp; Set up payments
                                                                    <small class="text-muted">
                                                                        Choose how your customers will pay for their orders
                                                                    </small>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                            <Card>
                                                <BodyTemplate>
                                                    <a class="configuration-step-link taxes-step" href="#">
                                                        <div class="row">
                                                            <div class="col-12 col-xl-3">
                                                                <div class="configuration-step-icon">
                                                                    <i class="fas fa-percent"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-9">
                                                                <h5>
                                                                    5. &nbsp; Set up taxes
                                                                    <small class="text-muted">
                                                                        Configure rates manually or choose a tax service to automate all tax things
                                                                    </small>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                            <Card>
                                                <BodyTemplate>
                                                    <a class="configuration-step-link products-step" href="#">
                                                        <div class="row">
                                                            <div class="col-12 col-xl-3">
                                                                <div class="configuration-step-icon">
                                                                    <i class="fas fa-shopping-cart "></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-9">
                                                                <h5>
                                                                    6. &nbsp; Create products
                                                                    <small class="text-muted">
                                                                        Build a catalog with attractive product descriptions and pictures
                                                                    </small>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                            <Card>
                                                <BodyTemplate>
                                                    <a class="configuration-step-link email-step" href="#">
                                                        <div class="row">
                                                            <div class="col-12 col-xl-3">
                                                                <div class="configuration-step-icon">
                                                                    <i class="far fa-envelope"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-9">
                                                                <h5>
                                                                    7. &nbsp; Set up email accounts
                                                                    <small class="text-muted">
                                                                        It allows you to send notifications to your customers
                                                                    </small>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                            <Card>
                                                <BodyTemplate>
                                                    <a class="configuration-step-link service-step" href="#">
                                                        <div class="row">
                                                            <div class="col-12 col-xl-3">
                                                                <div class="configuration-step-icon">
                                                                    <i class="fas fa-info"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-9">
                                                                <h5>
                                                                    8. &nbsp; Edit services info
                                                                    <small class="text-muted">
                                                                        Add info pages describing shipping, return policy and more
                                                                    </small>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                            <Card>
                                                <BodyTemplate>
                                                    <a class="configuration-step-link copyright-step" href="https://www.nopcommerce.com/nopcommerce-copyright-removal-key?utm_source=demo-admin-panel&amp;utm_medium=tour&amp;utm_campaign=powered_by_nopcommerce&amp;utm_content=dashboard" target="_blank">
                                                        <div class="row">
                                                            <div class="col-12 col-xl-3">
                                                                <div class="configuration-step-icon">
                                                                    <i class="far fa-copyright"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-9">
                                                                <h5>
                                                                    9. &nbsp; “Powered by” link
                                                                    <small class="text-muted">
                                                                        Remove the “Powered by nopCommerce” link from the footer
                                                                    </small>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                        </Row>
                                    </div>
                                </BodyTemplate>
                            </Card>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <Card CollapseIcon="fas fa-plus" HeaderText="Common statistics" IsShadow="true" IsCollapsible="true">
                                <BodyTemplate>
                                    <div class="card-body">
                                        <Row ItemsPerRow="ItemsPerRow.Four">
                                            <Card IsShadow="true">
                                                <BodyTemplate>
                                                    <div class="inner">
                                                        <h3>5</h3>
                                                        <p>Orders</p>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="ion ion-bag"></i>
                                                    </div>
                                                    <a class="small-box-footer" href="#">
                                                        More info
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                            <Card IsShadow="true">
                                                <BodyTemplate>
                                                    <div class="inner">
                                                        <h3>0</h3>
                                                        <p>Pending return requests</p>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="ion ion-refresh"></i>
                                                    </div>
                                                    <a class="small-box-footer" href="#">
                                                        More info
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                            <Card IsShadow="true">
                                                <BodyTemplate>
                                                    <div class="inner">
                                                        <h3>1</h3>
                                                        <p>Low stock products</p>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="ion ion-pie-graph"></i>
                                                    </div>
                                                    <a class="small-box-footer" href="#">
                                                        More info
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                            <Card IsShadow="true">
                                                <BodyTemplate>
                                                    <div class="inner">
                                                        <h3>7</h3>
                                                        <p>Registered customers</p>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="ion ion-person-add"></i>
                                                    </div>
                                                    <a class="small-box-footer" href="#">
                                                        More info
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                    </a>
                                                </BodyTemplate>
                                            </Card>
                                        </Row>
                                    </div>
                                </BodyTemplate>
                            </Card>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <Card CollapseIcon="fas fa-shopping-cart" HeaderText="Orders" IsShadow="true" IsCollapsible="true">
                                <HeaderTemplate>
                                    <div class="card-tools float-right">
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" disabled="disabled" data-chart-role="toggle-chart" data-chart-period="year">Year</button>
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" disabled="disabled" data-chart-role="toggle-chart" data-chart-period="month">Month</button>
                                        <button class="btn btn-xs btn-info btn-flat" disabled="disabled" data-chart-role="toggle-chart" data-chart-period="week">Week</button>
                                        <button type="button" class="btn btn-tool margin-l-10" data-card-widget="collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </HeaderTemplate>
                                <BodyTemplate>
                                    <div class="chart" style="height: 300px;">
                                        <canvas id="order-statistics-chart" height="300"></canvas>
                                    </div>
                                </BodyTemplate>
                            </Card>
                        </div>
                        <div class="col-md-6">
                            <Card CollapseIcon="fas fa-shopping-cart" HeaderText="New customers" IsShadow="true" IsCollapsible="true">
                                <HeaderTemplate>
                                    <div class="card-tools float-right">
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" disabled="disabled" data-chart-role="toggle-chart" data-chart-period="year">Year</button>
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" disabled="disabled" data-chart-role="toggle-chart" data-chart-period="month">Month</button>
                                        <button class="btn btn-xs btn-info btn-flat" disabled="disabled" data-chart-role="toggle-chart" data-chart-period="week">Week</button>
                                        <button class="btn btn-tool margin-l-10" data-card-widget="collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </HeaderTemplate>
                                <BodyTemplate>
                                    <div class="chart" style="height: 300px;">
                                        <Chart OnInitAsync="() => OnInitTension(0f, false)" />
                                    </div>
                                </BodyTemplate>
                            </Card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    private readonly Random _randomer = new();

    private int _lineDatasetCount = 2;

    private int _lineDataCount = 7;

    private Chart _lineChart = default!;

    private Chart _continueChart = default!;

    private ConsoleLogger _logger = default!;

    private CancellationTokenSource _cancellationTokenSource = new();

    private readonly List<int> _continueData = [1, 4, 5, 3, 4, 2, 6, 4, 9, 3, 1, 4, 5, 3, 4, 2, 6, 4, 9, 3];

    private async Task<ChartDataSource> OnInitTension(float tension, bool hasNull)
    {
        var ds = new ChartDataSource();
        ds.Options.Title = "Line Chart";
        ds.Options.X.Title = "days";
        ds.Options.Y.Title = "Numerical value";
        ds.Labels = Enumerable.Range(1, _lineDataCount).Select(i => i.ToString());
        for (var index = 0; index < _lineDatasetCount; index++)
        {
            ds.Data.Add(new ChartDataset()
                {
                    Tension = tension,
                    Label = $"Set {index}",
                    Data = Enumerable.Range(1, _lineDataCount).Select((i, index) => (index == 2 && hasNull) ? null! : (object)_randomer.Next(20, 37))
                });
        }

        // 模拟异步
        await Task.Delay(100);
        return ds;
    }
}