@inject IStringLocalizer<Resource> localizer
@inject AuthenticationStateProvider AuthenticationStateProvider

@page "/"

<PageTitle>Home</PageTitle>

<h1>@localizer["helloworld"]</h1>

Welcome to your new app.

@code {


}