@inject IStringLocalizer<Resource> localizer

@page "/"

<PageTitle>Index</PageTitle>

<h1>@localizer["helloworld"]</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
