@using Microsoft.AspNetCore.Components.Authorization
@using YZPortal.Client.Services.LocalStorage

<AuthorizeView>
    <Authorized>
        <text>Hello, @context.User.FindFirst(LocalStorageProperties.UserDisplayName)?.Value</text>
        <a href="/Authentication/Logout">Logout</a>

    </Authorized>
    <NotAuthorized>
        @*<a href="/user/register">Register</a>*@
        <a href="/Authentication/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>
