@inherits LayoutComponentBase

<PageTitle>YZPortal</PageTitle>

@* REF: https://www.c-sharpcorner.com/article/creating-various-layouts-for-different-razor-pages-in-blazor/ *@
<Layout SideWidth="0"
        IsPage="true"
        ShowGotoTop="false"
        IsFixedFooter="false"
        ShowFooter="false"
        AdditionalAssemblies="new[] { GetType().Assembly }">
    <Main>
        <CascadingValue Value="this" IsFixed="true">
            @Body
        </CascadingValue>
    </Main>
    <Footer>
    </Footer>
</Layout>