@inject IJSRuntime jsr

<p>

	<span><a href="/user/login">Login</a></span>

	@if (string.IsNullOrEmpty(username))
	{
		@*<span><a href="/register">Register</a></span>*@

		<span><a href="/user/login">Login</a></span>
	}
	else
	{
		<span>Hello, @username <a href="/user/logout">(Logout)</a></span>
	}
</p>

@code {

	string username = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		var userdata = await jsr.InvokeAsync<string>("localStorage.getItem", "userEmail").ConfigureAwait(false);
		if (!string.IsNullOrWhiteSpace(userdata))
		{
			// Should use user displayName
			username = userdata.Split(';', 2)[0];
		}
	}
}