@page "/fetchDealers"
@using Microsoft.AspNetCore.Authorization;
@using YZPortal.Client.Clients.YZPortalApi;
@using YZPortal.Client.Models.Dealers;
@inject YZPortalApiHttpClient YZPortalApiClient
@attribute [Authorize]

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Dealers == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<p><a href="javascript:;" @onclick="GetDealers">TODAY'S FORECAST</a></p>
	<table class="table">
		<thead>
			<tr>
				<th>DueDate</th>
				<th>Name</th>
				<th>Description</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var Todo in Dealers.Results)
			{
				<tr>
					<td>@Todo.Name</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {

	private Dealers? Dealers;

	private async Task GetDealers()
	{
		Dealers = await YZPortalApiClient.GetDealers();
	}

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		await GetDealers();
	}
}